:root{
    --bg:#eef1fa;
}
.main
{
    background-color:rgba(255, 0, 0, 0.314);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.main img 
{
    height:120px;
    
}