*{

  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;

}

.App
{
  height: 100vh;
}

#rout-section-123
{
  background-color:#eef1fa;
  height: 87%;
}

#footer-123
{
  background-color:white;
  height:5%;
  display:flex;
  align-items: center;
  justify-content:space-between;
  font-size: 13px;
  letter-spacing:1px;
}
#footer-123 p:nth-of-type(1)
{
  margin-left: 50px;
}
#footer-123 p:nth-of-type(2)
{
  margin-right: 50px;
}

